/* Header styles */
.header {
    background-color: #FF0000;
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.header nav ul {
    display: flex;
    margin-right: 20px;
}

.header nav ul li {
    margin-right: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}